@page
@using BlazorApp1.Areas.Identity.Pages.Account
@model BlazorApp1.Areas.Identity.Pages.Account.LogOutModel

@{
    ViewData["Title"] = "Log out";
}

<header>
    <h1>@ViewData["Title"]</h1>
    <p>You have successfully logged out.</p>
</header>
